doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/swiper-bundle.min.css')
    script(src="/javascripts/swiper-bundle.min.js")
    script(src="/javascripts/lib-flexible.js")

  body
    block content
