extends ../../layout/index.pug

block components
  style
    include ./index.css



block operate
  .to-close
    img(src="/images/close.png")

block title
  h5 手机登录

block desc
  .desc-text
    span.desc-color 登录即表示同意“
    a(href="/mobile/legalNotices") 用户协议
    span.desc-color ”和“
    a(href="/mobile/privacyNotices") 隐私政策
    span.desc-color ”
block info
  //- 在这完成代码
block scripts
  script
    include ./index.js
